<link rel="stylesheet" href="/stylesheets/signup.css">


<div class="main-w3layouts wrapper">
	<h1>Login</h1>
	<div class="main-agileinfo">
		<div class="agileits-top">
			<form action="/admin" method="post" id="adminLogin">
				<input class="text" type="text" name="name" placeholder="Username" required="">
				<input class="text " type="password" name="password" placeholder="Password" required="">


				<div class="wthree-text">

					<div class="clear"> </div>
				</div>
				{{#if logErr}}
				<div class="alert alert-warning alert-dismissible fade show">
					<strong>Error!</strong> {{logErr}}
					<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
				</div>
				{{/if}}
				<input type="submit" value="LOGIN">
			</form>
			</div>
	</div>


