<header class="header_section">
  <div class="header_top">
    <div class="container-fluid">
      <div class="top_nav_container">
        <div class="contact_nav">
          <a href="">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <span> Call : +91 1234556789 </span>
          </a>
          <a href="">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <span> Email : mobilz@gmail.com </span>
          </a>
        </div>
        {{#if login}}

        <from class="search_form">
          <input type="text" class="form-control" placeholder="Search here..." />
          <button class="" type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </from>

        <div class="user_option_box">


          {{#if user}}
          <a href="/cart" class="cart-link">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <span> Cart<sup style="border:1px solid #f3c93f;border-radius: 50%;width:25px"
                class="badge badge-info">{{cartCount}}</sup></span>


          </a>
          <a href="/user-profile" class="account-link">
            <i class="fa-solid fa-user"></i>
            <span>{{user.name}} </span>
          </a>
          <a href="/logout" onclick="return confirm('Are you want to Log Out Now ?')"
 class="account-link">
            <i class="fa-solid fa-right-from-bracket" aria-hidden="true"></i>
            <span> Log out </span>
          </a>
          {{else}}
          <a href="/login" class="account-link">
            <i class="fa-solid fa-right-from-bracket" aria-hidden="true"></i>
            <span> Log in </span>
          </a>
          {{/if}}





        </div>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="header_bottom">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg custom_nav-container">
        <a class="navbar-brand" href="#">
          <span>
            <img src="/images/logo.png" alt="" />
          </span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""> </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item ">
              <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/all-products">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/orders">My Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Testimonial</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>