<section>
  <div class="container pt-3">
    <h1 class="text-secondary pb-5"><b>Contact Us</b></h1>
    <div class="d-flex justify-content-between">
      <div>
        <div>
          <h5><b>Address :</b></h5>
          <p>
            Mobils Corporate Office, Mini Bye Pass Puthiyara, Kozhikode, Kerala
          </p>
        </div>
        <div>
          <h5><b>Email:</b></h5>
          <p>mobilz@gmail.com</p>
        </div>
        <div>
          <h5><b>Phone Number :</b></h5>
          <p>9876543210</p>
        </div>
      </div>
      <div>
        <div class="border">
          <p><b>Working hours of the online store consultants:</b></p>
          <p>10 am — 6 pm Monday to Saturday</p>
        </div>
      </div>
    </div>
    <div ">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d15657.880866639647!2d75.89171564288328!3d11.152778749999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m5!1s0x3ba6502f41ef4e8b%3A0xf4c653a7548cccd!2zS2luZnJhIFRlY2hubyBJbmR1c3RyaWFsIFBhcmsg4LSV4LS_4LW74LSr4LWN4LSwIOC0n-C1huC0leC1jeC0qOC1h-C0vuKApg!3m2!1d11.152574999999999!2d75.892363!4m0!5e0!3m2!1sen!2sin!4v1655717616136!5m2!1sen!2sin"
        width="100%"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>