<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
<link rel="stylesheet" href="fonts/icomoon/style.css">
<link rel="stylesheet" href="stylesheets/css/bootstrap.min.css">
<link rel="stylesheet" href="stylesheets/css/magnific-popup.css">
<link rel="stylesheet" href="stylesheets/css/jquery-ui.css">
<link rel="stylesheet" href="stylesheets/css/owl.carousel.min.css">
<link rel="stylesheet" href="stylesheets/css/owl.theme.default.min.css">
<link rel="stylesheet" href="stylesheets/css/aos.css">
<link rel="stylesheet" href="stylesheets/css/style.css">

<div class="site-wrap">
  <div class="site-section">
    <div class="container">
      <form action="/change-password" method="post" id="changepsw">
        <div class="row d-flex justify-content-center">
          <div class="col-md-6 mb-5 mb-md-0" id="divv">
            <h2 class="h3 mb-3 text-black">Change Password</h2>
            <div class="p-3 p-lg-5 border">
              <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_address" class="text-black">Enter Your Old Password </label>
                  <input type="password" class="form-control" id="oldpsw"  name="oldpsw" placeholder="" required>
                  <input type="checkbox" onclick="soldpsw()"><span style="color:rgb(77, 75, 190);"><small> Show
						Password</small></span>
                        {{#if status}}
                        <p><small style="color:red ;">Not Match This Password Please Enter Corruct Password</small></p>
                        {{/if}}
                </div>
              </div> 
              <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_address" class="text-black">Enter Your New Password </label>
                  <input type="password" class="form-control" id="newpsw" name="newpsw" required>
                  <input type="checkbox" onclick="snewpsw()"><span style="color:rgb(77, 75, 190);"><small> Show
						Password</small></span>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_address" class="text-black">Confirm Password </label>
                  <input type="password" class="form-control" id="cnfpsw" name="cnfpsw" required>
                   <input type="checkbox" onclick="scnfpsw()"><span style="color:rgb(77, 75, 190);"><small> Show
						Password</small></span>
                </div>
              </div>
             

              

             

              <button type="submit" class="btn btn-primary btn-lg py-3 btn-block">Change Password</button>
            </div>
         
          </div>
      
        </div>
      </form>
      <!-- </form> -->
    </div>
  </div>
</div>

<script>
		function soldpsw() {
			var x = document.getElementById("oldpsw");
			if (x.type === "password") {
				x.type = "text";
			} else {
				x.type = "password";
			}
		}
        function snewpsw() {
			var x = document.getElementById("newpsw");
			if (x.type === "password") {
				x.type = "text";
			} else {
				x.type = "password";
			}
		}
        function scnfpsw() {
			var x = document.getElementById("cnfpsw");
			if (x.type === "password") {
				x.type = "text";
			} else {
				x.type = "password";
			}
		}
	</script>