<link rel="stylesheet" href="stylesheets/signup.css">
<div class="main-w3layouts wrapper">
    <h1>Create new Password</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <form action="/create-new-password" method="post" id="Createpsw">
                <input type="text" name="userId" value="{{userId}}" hidden>
                <input class="text " type="password" id="setPassword" name="setPassword" placeholder="Enter New Password" required="">
                <input class="text mt-2" type="password" name="password" placeholder="Confirm Password" required="">
                <div class="wthree-text">
                    <div class="clear"> </div>
                </div>
                <input type="submit" value="Varify Accound">
            </form>
        </div>
    </div>