<link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"/>
<link rel="stylesheet" href="stylesheets/css/bootstrap.min.css" />
<link rel="stylesheet" href="stylesheets/css/style.css" />

<div class="site-wrap">
  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <img style="width: 100px;" src="images/Vector.svg" alt="">
          <h2 class="display-3 text-black">Your Cart is Empty!</h2>
          <p>
            <a href="/" class="btn btn-sm btn-primary">Back to Home</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

