<link rel="stylesheet" href="stylesheets/signup.css">


<div class="main-w3layouts wrapper">
    <h1>Forgot Password</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <form action="/forgot-password-step1" method="post" id="forget">
            
               
               
                <input class="text " type="email" name="email" placeholder="Enter Your Email ID" required="">



                <div class="wthree-text">

                    <div class="clear"> </div>
                </div>
                {{#if message}}
                <div class="alert alert-warning alert-dismissible fade show mt-3">
                    <strong>Error!</strong> {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
                {{/if}}
               
                <input type="submit" value="Varify Accound">
            </form>
            

        </div>
    </div>