

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="stylesheets/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/css/magnific-popup.css">
    <link rel="stylesheet" href="stylesheets/css/jquery-ui.css">
    <link rel="stylesheet" href="stylesheets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="stylesheets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="stylesheets/css/aos.css">
    <link rel="stylesheet" href="stylesheets/css/style.css">
  
  

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <span class="icon-check_circle display-3 text-success"></span>
            <h2 class="display-3 text-black">Thank you!</h2>
            <p class="lead mb-5">You order was successfuly completed.</p>
            <p><a href="/" class="btn btn-sm btn-primary">Back to shop</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="javascripts/js/jquery-3.3.1.min.js"></script>
  <script src="javascripts/js/jquery-ui.js"></script>
  <script src="javascripts/js/popper.min.js"></script>
  <script src="javascripts/js/bootstrap.min.js"></script>
  <script src="javascripts/js/owl.carousel.min.js"></script>
  <script src="javascripts/js/jquery.magnific-popup.min.js"></script>
  <script src="javascripts/js/aos.js"></script>

  <script src="javascripts/js/main.js"></script>
    
